<h1 class="title">Angular Router</h1>

<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/crisis-center" routerLinkActive="active" selectedIndex="0">Crisis Center</a>
  <a mat-tab-link routerLink="/superheroes" routerLinkActive="active" selectedIndex="1">Heroes</a>
  <a mat-tab-link routerLink="/admin" routerLinkActive="active" selectedIndex="2">Admin</a>
  <a mat-tab-link routerLink="/login" routerLinkActive="active" selectedIndex="3">Login</a>
  <a mat-tab-link [routerLink]="[{ outlets: { popup: ['compose'] } }]" selectedIndex="4">Contact</a>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->