<h1 class="title">Angular Router</h1>
<!-- <nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav> -->
<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a mat-tab-link routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  <a mat-tab-link routerLink="/admin" routerLinkActive="active">Admin</a>
  <a mat-tab-link routerLink="/login" routerLinkActive="active">Login</a>
  <a mat-tab-link [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>
<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="Crisis Center" routerLink="/crisis-center" routerLinkActive="active"></mat-tab>
  <mat-tab label="Heroes" routerLink="/superheroes" routerLinkActive="active"></mat-tab>
  <mat-tab label="Admin" routerLink="/admin" routerLinkActive="active"></mat-tab>
  <mat-tab label="Login" routerLink="/login" routerLinkActive="active"></mat-tab>
  <mat-tab label="Contact" [routerLink]="[{ outlets: { popup: ['compose'] } }]"></mat-tab>
</mat-tab-group> -->

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->