<article>
  <h2>HEROES</h2>
  <table mat-table [dataSource]="heroes$" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let hero">{{ hero.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let hero">{{ hero.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef> Manage hero </mat-header-cell>
      <mat-cell *matCellDef="let hero"><a [routerLink]="['/hero', hero.id]"><button mat-flat-button
            color="primary">learn more</button></a></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</article>