<mat-card class="hero-card" *ngIf="hero$ | async as hero">
  <mat-card-header>
    <div mat-card-avatar class="hero-image"></div>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>Hero ID: {{hero.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{hero.thumbImgUrl}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{hero.introText}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>